
$white : #FFFFFF;
$black : #171717;

$BgColor : #171717;

/* STATUS */
$positive: #00BF40; //긍정적, 진행, 성공 
$cautionary: #FF9200; //주의 , 경고
$destructive: #FF4242; //부정적, 오류
$command : #3385FF; //지시 , 정보 

/* COLOR CHIP */
$black_2e2e : #2E2E2E;
$gray_8080 : #808080;
$gray_D4D4 : #D4D4D2;
$gray_E6E6 : #E6E6E6;

$line_2A2A : #2A2A2A;

$green_72DE : #72DE2F;
$blue_067E: #067EFF;
$purple_D1CC : #D1CCFF;
$purple_D6D3 : #D6D3FB;
$purple_7779 : #7779E1;
$purple_9D98 : #9D98FE;
$purple_5E46 : #5E46E8;




$url : "/assets/images/";

/*  공통 
==================================== */
.visuallyhidden {
  position: absolute; 
  width: 1px;
  height: 1px;
  margin: -1px; 
  clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: inset(50%); 
  clip: rect(0, 0, 0, 0); 
  clip: rect(0 0 0 0);
  overflow: hidden; }





  /*  이미지 
==================================== */
@mixin image($url: null, $position: center center, $size: contain, $repeat: no-repeat) {
  @if $url != null {
    background-image: url(#{$url});
  }
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat; 
}
@mixin mask(
  $mask_url: null,
  $mask_position: center,
  $mask_size: contain,
  $mask_repeat: no-repeat
) {
  @if $mask_url != null {
    -webkit-mask-image: url(#{$mask_url});
    mask-image: url(#{$mask_url});
  }
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: $mask_position;
  mask-position: $mask_position;
  -webkit-mask-size: $mask_size;
  mask-size: $mask_size;
}