
/* =========================================
  라이트 모드 + 다크 모드 CSS
=========================================== */
:root {
  --font_weight300 : 300;
  --font_weight400 : 400;
  --font_weight500 : 500;
  --font_weight600 : 600;
  --font_weight700 : 700;
  --font_weight800 : 800;
  --font_weight900 : 900;
  
}

.light--mode {
  --bgColor-base: #FFFFFF;
  --bgColor-dominant: #F1F1F1;
  --txtColor-base : #171717;
  --txtColor-dominant : red;

  --line_2A2A : #DEDEDE;
  &:has(.setting) {
    --bgColor-base: #F1F1F1;
    --bgColor-dominant: #FFFFFF;
  }
}

.dark--mode {
  --bgColor-base: #171717;
  --bgColor-dominant: #1F1F1F;
  --txtColor-base : #FFFFFF;
  --txtColor-dominant : green;

  --line_2A2A : #2A2A2A;
}

.font--weight {
  --font_weight300 : 500;
  --font_weight400 : 600;
  --font_weight500 : 700;
  --font_weight600 : 800;
  --font_weight700 : 900;
  --font_weight800 : 900;
  --font_weight900 : 900;
}




/* =========================================
  SCSS
=========================================== */

$color_white: #FFFFFF;
$color_black: #171717;

/* STATUS */
$positive: #00BF40; //긍정적, 진행, 성공 
$cautionary: #FF9200; //주의 , 경고
$destructive: #FF4242; //부정적, 오류
$command : #3385FF; //지시 , 정보 

/* COLOR CHIP */
$black_2E2E : #2E2E2E;
$black_2A2A :#2A2A2C;
$gray_8080 : #808080;
$gray_5C5C: #5C5C5F;
$gray_D4D4 : #D4D4D2;
$gray_E6E6 : #E6E6E6;

$green_72DE : #72DE2F;
$blue_067E: #067EFF;
$orange_FF9F : #FF9F0A;
$purple_EEEC: #EEECFF;
$purple_D1CC : #D1CCFF;
$purple_D6D3 : #D6D3FB;
$purple_7779 : #898BDC; //7779E1
$purple_9D98 : #9D98FE;
$purple_5E46 : #5E46E8;




$url : "/assets/images/";

/*  공통 
==================================== */
.visuallyhidden {
  position: absolute; 
  width: 1px;
  height: 1px;
  margin: -1px; 
  clip-path: polygon(0 0, 0 0, 0 0);
  clip-path: inset(50%); 
  clip: rect(0, 0, 0, 0); 
  clip: rect(0 0 0 0);
  overflow: hidden; 
}


/* ===================================  
  이미지 
==================================== */
@mixin image($url: null, $position: center center, $size: contain, $repeat: no-repeat) {
  @if $url != null {
    background-image: url(#{$url});
  }
  background-position: $position;
  background-size: $size;
  background-repeat: $repeat; 
}
@mixin mask(
  $mask_url: null,
  $mask_position: center,
  $mask_size: contain,
  $mask_repeat: no-repeat
) {
  @if $mask_url != null {
    -webkit-mask-image: url(#{$mask_url});
    mask-image: url(#{$mask_url});
  }
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: $mask_position;
  mask-position: $mask_position;
  -webkit-mask-size: $mask_size;
  mask-size: $mask_size;
}





/* ===================================  
  common 
==================================== */
.list--style {
  li {
    position: relative;
    font-size: 12px; 
    margin-bottom: 4px;
    padding-left: 6px;
    &:after {
      content: ''; 
      position: absolute;
      top: 6px; left: 0;
      width: 3px; height: 3px;
      box-sizing: border-box; 
      background-color: $purple_5E46;
    }
  }
  /* list-style 모양 */
  &.circl {
    li {
      &:after {
        border-radius: 100%;
      }
    }
  }
}




/* ===================================  
  form 
==================================== */
.radio__label {
  position: relative;
  &:has(:checked):after {
    background-color: $command;
  }
  .radio__input {
    position: absolute; 
    width: 1px; height: 1px; 
    padding: 0; border: none;
    clip-path: inset(100%); clip: rect(0,0,0,0); 
    overflow: hidden;
  }
  &:after {
    content: '';
    position: absolute;
    bottom: 0; left: 50%;
    width: 16px; height: 16px;
    border-radius: 100%;
    background-color: var(--bgColor-base);
    border: 1px solid var( --line_2A2A);
    box-sizing: border-box;

    transform: translateX(-50%);
  }
}


/* 스위치 버튼 */
.switch__box {
  position: relative;
  display: block;
  width: 50px; height: 28px;
  background-color: var(--bgColor-base);
  box-sizing: border-box;
  border-radius: 30px;

  &.on {
    .switch__ball {    
      transform: translateX(20px);
    }
  }
  .switch__ball {
    position: absolute;
    top: 3px; left: 4px;
    width: 22px; height: 22px;
    border-radius: 100%;
    background-color: $color_white;
    transition: 0.8s;
  }
}
