.Main {
  container-type: inline-size;
}

/* app list
===================================== */
.app--list--group {
  display: grid;  
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  justify-content: center;
  align-content: space-between;
  gap: 24px 24px;
  > li {
    display: grid;
    justify-content: space-around;
    gap: 8px 8px;
    grid-template-columns: repeat(2, minmax(60px, 1fr));
    &.widget { /* 위젯 */
      grid-template-columns: repeat(1, minmax(80px, 1fr));
    }
    &.app--group { /* 앱 묶음 */
      grid-template-columns: repeat(3, minmax(50px, 1fr));
      justify-content: space-evenly;
      background-color: $black_2e2e;
      padding: 8px;
      border-radius: 15px;
      box-sizing: border-box;
      overflow: hidden;
      .app__btn__bgColor {border-radius: 10px; }
      .app__btn__name {font-size: 11px; }
    }
  }  
}

/* default */
.app__btn {
  display: flex; flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  gap: 4px 4px;
  .app__btn__bgColor {
    width: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
    box-sizing: border-box;
    overflow: hidden;
    background-color: $gray_8080;
  }
  .app__btn__icon {
    display: block; 
    width: 100%; height: 100%;
  }
  .app__btn__name {color: $white;
    font: {
      weight: 300;
      size: 12px;
    }
  }
}


/* icon image 
================================ */
.app__btn {
  &__my{
    .app__btn__bgColor {
      background: {
        color: $black;
        image: url($url + "my_gradientBg.png"), url($url + "my_gradientBg02.png"), url($url + "my_gradientBg03.png");
        repeat: no-repeat;
        position: bottom left, top right, top right -80px;
        size: 100% auto , auto 100%, auto 100%;
      };
    }
    .app__btn__icon {
      @include image(
        $url : "#{$url}my_memoji.png",
        $size: 68% auto,
      );
    }
  }
  &__calc {
    .app__btn__bgColor {
      background-color: $gray_D4D4;
    }
    .app__btn__icon {
      @include image(
        $url : "#{$url}calc.svg",
        $size: auto 80%,
      );
    }
  }
  &__todo {
    .app__btn__bgColor {
      background-color: $white; 
      border: 1px solid $gray_E6E6;
    }
    .app__btn__icon {
      @include image(
        $url : "#{$url}todo.svg",
        $size: 80% auto,
      );
    }
  }
  &__facetime {
    .app__btn__bgColor {
      background: linear-gradient(0deg, #11C12E,  #5DF777);
    }
    .app__btn__icon {
      background-color: $white;
      @include mask(
        $mask_url : "#{$url}facetime.svg",
        $mask_size: 80% auto,
      );
    }
  }
  &__book {
    .app__btn__bgColor {
      background: linear-gradient(0deg, #FA691D,  #FEA801);
    }
    .app__btn__icon {
      background-color: $white;
      @include mask(
        $mask_url : "#{$url}book.svg",
        $mask_size: 80% auto,
      );
    }
  }
  &__editodo {
    .app__btn__bgColor {
      background-color: $white;
      border: 1px solid #5AC1CC;
    }
    .app__btn__icon {
      @include image(
        $url : "#{$url}editodo.svg",
        $size: 80% auto,
      );
    }
  }
  &__dubuck {
    .app__btn__bgColor {
      background-color: #fa7d38;
    }
    .app__btn__icon {
      @include image(
        $url : "#{$url}dubuck.svg",
        $size: 80% auto,
      );
    }
  }
  &__maill {
    .app__btn__bgColor {
      background: linear-gradient(0deg, #1AC1FB,  #1D75F2);
    }
    .app__btn__icon {
      background-color: $white;
      @include mask(
        $mask_url : "#{$url}mail.svg",
        $mask_size: 80% auto,
      );
    }
  }
  &__memo {
    .app__btn__bgColor {
      background-color: $white;
    }
    .app__btn__icon {
      @include image(
        $url : "#{$url}memo.svg",
        $size: 100% auto,
      );
    }
  }
  &__kakaobank {
    .app__btn__bgColor {
      background-color: #FFE300;
    }
    .app__btn__icon {
      background-color: #1E1E1E;
      @include mask(
        $mask_url : "#{$url}kakaobank.svg",
        $mask_size: auto 56%,
      );
    }
  }
  &__skill {
    .app__btn__bgColor {
      background-color: purple;
    }
    .app__btn__icon {
      background-color: #1E1E1E;
      @include mask(
        $mask_url : "#{$url}kakaobank.svg",
        $mask_size: auto 56%,
      );
    }
  }
  &__setting {
    .app__btn__bgColor {
      background-color: skyblue;
    }
    .app__btn__icon {
      background-color: #1E1E1E;
      @include mask(
        $mask_url : "#{$url}kakaobank.svg",
        $mask_size: auto 56%,
      );
    }
  }
}



/* 스택 
================================ */
.app--stack--group {
  .stack--slider--wrapper {
    grid-column: 1/3;
    width: 100%; height: 100%;
    max-height: 180px;
  }
  .stack--list--group {
    grid-template-rows: repeat(auto-fill, minmax(180px, 1fr));
    .app--group {
      width: 100%;
      grid-template-columns: repeat(3, minmax(38px, 1fr));
      .app__btn  {
        border-radius: 5px;
      }
    }
  }
  .stack--name {
    grid-column: 1 / 3;
    font-size: 12px;
    color: $white;
    text-align: center;
  }
}

/* 스택 슬라이드  */
.stack--list--group {
  .app--stack--group { 
   grid-template-columns: repeat(3, minmax(40px, 1fr));
   }
 }

/* 스킬 영역
================================ */
.skill--list-group {
  display: grid; 
  grid-template-columns: 60px 60px;
  gap: 4px 8px;
  max-height: 180px;
  border-radius: 15px;
  padding: 8px 8px;
  box-sizing: border-box;
  background-color: $black_2e2e;
  overflow: hidden;
  > li {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: column;
  }
  .skill__name {display: block; margin-top: 2px; font-size: 11px; color: $white; text-align: center; }
}
.skill__icon {
  display: block;
  width: 60px; height: 60px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  &.skill__html {
    background : {
      color: #F46938; 
      image: url($url + "skill_html.svg");
      size: 30px auto;
    }
  }
}

/*

.stack--item {
  &.skill--html {
    background: {
      color: #F46938; 
      image: url($url + "skill_html.svg");
      repeat: no-repeat;
      position: center center;
      size: 30px auto;
    };
  }
  .skill--name {font-size: 12px; color: white; }
}

 skill_icon 

.skill_icon.skill_icon_css {
  background-color: #16A1DC;
  background-image: url('/src/assets/images/icon/skill_css.svg')
}
.skill_icon.skill_icon_js {
  background-color: #FFDE24;
  background-image: url('/src/assets/images/icon/skill_js.svg')
}
.skill_icon.skill_icon_react {
  background-color: #7DDFFF;
  background-size: 70%;
  background-image: url('/src/assets/images/icon/skill_react.svg')
}
.skill_icon.skill_icon_figma {
  background-color: var(--complementary);
  background-image: url("/src/assets/images/icon/skill_figma.svg"); 
}
.skill_icon.skill_icon_ai {
  background-color: #F58C00;
  background-image: url('/src/assets/images/icon/skill_ai.svg')
}
.skill_icon.skill_icon_ps {
  background-color: #2B9ADD;
  background-image: url('/src/assets/images/icon/skill_ps.svg')
}
.skill_icon.skill_icon_github {
  position: relative; 
  background-color: var(--complementary);

}*/

/*
.app--stack {overflow: hidden; }
.stack--list--swiper {
  position: relative;
  .stack--item {
    width: 180px; height: 180px;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: red;
    span {color: white; }
  }
}
.vertical-swiper .slide-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background: #f2f2f2;
  font-size: 1.5rem;
  color: #333;
}*/


/* 스택 슬라이드 영역 
.stack--list-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(68px, 1fr));
  justify-content: space-around;
  gap: 8px 8px;  
  padding: 8px;
  border-radius: 15px;
  box-sizing: border-box;
  background-color: $black_2e2e;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  > li {

  }
}*/






/* =======================================
  media query
==========================================*/

@container  (max-width: 485px) {
 
} //End