

/* =========================================== 
  Header
=========================================== */
.Header {
  padding: 0 15px; 
  box-sizing: border-box;
  line-height: 50px;
  container-name: layout-container;
  container-type: inline-size;
  background-color: inherit;
}
.header--inner {display: flex; flex-wrap: wrap; justify-content: space-between; color: var(--txtColor-base);}


.date--time {color: inherit; font-size: 12px; }
.date-mmdd {color: inherit; font-size: 12px; }

/* 
.header--right {display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; gap: 0 4px; }
.header__antenna {margin-top: 10px;}
.antenna {
  display: flex; flex-direction: row;
  margin: 1px 0;
	border: 4px solid transparent;
	border-top-color: red;
	border-radius: 50%;
	border-style: solid;
}
.antenna1 {border-top-color: red; }

.header__battery__percent {color: red; font-size: 12px; }
.header__battery {position: relative; display: flex; width: 40px; height: 14px; border: 1px solid red; border-radius: 5px; background-color: blue; overflow: hidden; }
.header__battery:after {content: ''; position: absolute; top: 0; left: 0; z-index:1; width: 90%; height: 100%; background-color: red; }
.header__batteryPower__percent {display: none; align-self: center; width: 100%; z-index: 2; text-align: center; line-height: normal; color: blue; font-size: 12px; font-weight: 900; opacity: 0.5;}
*/

