body {
  position: relative;
  font: {
  family: 'Pretendard', '맑은 고딕','돋움', '-apple-system', 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo';
  weight: 400;
  size: 16px;
  }
}


/* =========================================== 
  layout
=========================================== */
.Layout {
   display: grid; //header 영역 제거함
  // grid-template-rows: 50px 1fr;
  height: 100dvh;
 }

main {
  height: 100%;
  padding: 20px 15px; 
  box-sizing: border-box;
}

/* 배경색 */
.Layout {
  :has(.home){
    background-color: orange;
  }
  &:has(.calc) {
    background-color: $color_black; 
  }
  &:has(.kakaobank) {
    --bgColor-base : #FFE300;
    background-color: var(--bgColor-base); 
  }
}


/* =======================================
  media query
==========================================*/

@container layout-container (max-width: 485px) {
  .date-mmdd,
  .header__battery__percent {display: none; }
}
