body {
  position: relative;
  font: {
  family: 'Pretendard', '맑은 고딕','돋움', '-apple-system', 'Roboto', 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo';
  weight: 400;
  size: 16px;
  }
}


/* =========================================== 
  layout
=========================================== */
.Layout {
  display: grid; 
  grid-template-rows: 50px 1fr;
  height: 100vh;

 }

main {
  height: 100%;
  padding: 0 15px; 
  box-sizing: border-box;
  > div {height: 100%; } 
}

/* 배경색 */
.Layout {
  background-color: var(--bgColor-base);
  &:has(.Calc) {
    background-color: $color_black; 
  }
  &:has(.kakaobank) {
    --bgColor-base : #FFE300;
    background-color: var(--bgColor-base); 
  }
}


/* =======================================
  media query
==========================================*/

@container layout-container (max-width: 485px) {
  .date-mmdd,
  .header__battery__percent {display: none; }
}
