.form--header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items:center; 
  padding-top: 12px;
  .mail--title {font-size: 22px; font-weight: var(--font_weight700); color: var(--txtColor-base); }
  .btn__mail__submit {
    width: 35px; height: 35px;
    background-color: $command;
    border-radius: 100%;
  }
}

.icon__top {
  display: inline-block;
  width: 30px; height: 30px;
  background-color: $color_white;
  @include mask (
    $mask_url : "#{$url}arrow_top.svg",
    $mask_size: auto 16px,
  )
}

.form--list--group {display: flex; flex-direction: column; gap: 6px 10px; margin-top: 30px; }
.form--item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  gap: 0 8px;
  border-bottom: 1px solid var(--line_2A2A);
  box-sizing: border-box;
  padding-bottom: 6px;
  &:has(.form__textarea) {
    border-bottom: 0;
  }
  .form__label {
    color: $gray_8080;
    font: {
      size: 13px;
      weight: var(--font_weight300);
    }
  }
  .form__input {
    width: calc(100% - 110px);
    background-color: transparent;
    color: var(--txtColor-base);
    font-size: 13px; font-weight: var(--font_weight300);
    height: 20px;
  }
  .form__textarea {
    width: 100%; height: 100%;
    min-height: 120px; max-height: 300px;
    background-color: transparent;
    overflow-x: hidden; overflow-y: auto;
    color: var(--txtColor-base);
    font-size: 14px; font-weight: var(--font_weight300);
  }
}


